*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent; }

body {
  cursor: default;
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  font-family: 'VT323';
  font-size: 32px; }

section {
  display: block; }

ul {
  list-style: none outside none; }

main {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0; }
  main.visible {
    bottom: 0;
    opacity: 1; }

canvas {
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  min-height: 512px;
  min-width: 512px;
  max-height: 1024px;
  max-width: 1024px; }

@media screen and (min-aspect-ratio: 1 / 1) {
  canvas {
    width: 100%;
    height: auto; } }
#loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eee;
  text-align: center; }

#main-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  text-align: center;
  opacity: 0;
  overflow: hidden; }
  #main-menu li {
    display: block; }
  #main-menu.visible {
    bottom: 0;
    opacity: 1; }

#level-selection {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  opacity: 0;
  overflow: hidden; }
  #level-selection li {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    background-color: #999;
    margin: 10px; }
  #level-selection.visible {
    bottom: 0;
    opacity: 1; }

#start-game {
  background-color: #f00;
  position: absolute;
  display: none; }
  #start-game.visible {
    display: block; }

#timer {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 100px;
  text-align: center;
  margin-left: -50px;
  display: none; }
  #timer.visible {
    display: block; }
