*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent; }

html {
  overflow: hidden; }

body {
  cursor: default;
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  font-family: 'Press Start 2P', cursive;
  font-size: 26px;
  color: #fff;
  background-color: #000;
  text-shadow: 3px 3px 0 #000;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

section {
  display: block; }

ul {
  list-style: none outside none; }

button {
  background: url("../img/button_big.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 70px;
  width: 254px;
  -moz-user-select: -moz- none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: #fff;
  text-shadow: 3px 3px 0 #000;
  height: 108px; }
  button:hover, button:active {
    background-position: 0 -108px; }

main {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0; }
  main.visible {
    bottom: 0;
    opacity: 1; }

canvas {
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  min-height: 512px;
  min-width: 512px;
  max-height: 1024px;
  max-width: 1024px; }

@media screen and (min-aspect-ratio: 1 / 1) {
  canvas {
    width: 100%;
    height: auto; } }
#loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  text-align: center; }

#loading-bar {
  height: 72px;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%; }
  #loading-bar .left {
    background: url("../img/loading_bar_left.png") no-repeat scroll 0 0 transparent;
    width: 21px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; }
  #loading-bar .center {
    background: url("../img/loading_bar_center.png") repeat-x scroll 0 0 transparent;
    position: absolute;
    left: 21px;
    right: 32px;
    top: 0;
    bottom: 0; }
  #loading-bar .right {
    background: url("../img/loading_bar_right.png") no-repeat scroll 0 0 transparent;
    width: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; }

#loaded-outer {
  left: 15px;
  right: 17px;
  top: 11px;
  bottom: 10px;
  position: absolute; }

#loaded-inner {
  background: url("../img/loading_bar_center2.png") repeat-x scroll 0 0 transparent;
  position: absolute;
  width: 0%;
  top: 0;
  bottom: 0;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -ms-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear; }

#percentage {
  left: 50%;
  margin-left: -55px;
  padding-top: 23px;
  position: absolute;
  top: 0;
  width: 110px; }

.menu {
  position: relative;
  left: 50%;
  width: 206px;
  margin-left: -127px;
  margin-top: 5%;
  margin-bottom: 5%; }
  .menu li {
    background: url("../img/button_big.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 70px;
    margin-bottom: 20px;
    padding-top: 38px;
    width: 254px;
    -moz-user-select: -moz- none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .menu li:hover, .menu li:active {
      background-position: 0 -108px; }

#main-menu {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  /* Enable momentum scrolling on iOS */ }
  #main-menu li {
    display: block; }
  #main-menu.visible {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  #main-menu.hidden {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%); }

#level-selection {
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* Enable momentum scrolling on iOS */ }
  #level-selection ul {
    position: relative;
    left: 5%;
    width: 90%;
    margin-bottom: 5%;
    text-align: center; }
  #level-selection li {
    background: url("../img/level.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 157px;
    width: 114px;
    margin: 10px;
    cursor: pointer;
    position: relative; }
    #level-selection li div {
      height: 50px;
      position: absolute;
      top: 107px;
      width: 40px; }
  #level-selection.visible {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  #level-selection.hidden {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

#back-main-menu {
  left: 50%;
  margin-left: -127px;
  margin-top: 5%;
  position: relative;
  margin-bottom: 20px; }

.bronze {
  background: url("../img/bronze.png") no-repeat scroll 0 0 transparent;
  left: -2px; }

.silver {
  background: url("../img/silver.png") no-repeat scroll 0 0 transparent;
  left: 37px; }

.gold {
  background: url("../img/gold.png") no-repeat scroll 0 0 transparent;
  left: 76px; }

#start-game {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: none; }
  #start-game.visible {
    display: block; }

#timer {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 100px;
  text-align: center;
  margin-left: -50px;
  display: none; }
  #timer.visible {
    display: block; }
