@mixin user-select($select) {
	-moz-user-select: -moz-$select;
	-webkit-touch-callout: $select;
      -webkit-user-select: $select;
       -khtml-user-select: $select;
    	 -moz-user-select: $select;
    	  -ms-user-select: $select;
}

@mixin transition($transition){
	-webkit-transition: $transition;
	   -moz-transition: $transition;
		-ms-transition: $transition;
		 -o-transition: $transition;
			transition: $transition;
}