/*////////////////////////////////////////////
// Mixins                                   //
////////////////////////////////////////////*/
@import 'mixins';


/*////////////////////////////////////////////
// General                                  //
////////////////////////////////////////////*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    cursor: default;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
}

section {
	display: block;
}

ul {
	list-style: none outside none;
}

button {
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
    font-size: 32px;
}

main {
	position: absolute;
	overflow: hidden;
    //-webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;

    &.visible {
    	//@include transition(opacity 1s linear);
    	bottom: 0;
    	opacity: 1;
    }
}

canvas {
    display: block;
    position: absolute;
    height: 100%;
    width: auto;
    min-height: 512px;
    min-width: 512px;
    max-height: 1024px;
    max-width: 1024px;
}

@media screen and (min-aspect-ratio: 1/1) {
	canvas {
		width: 100%;
    	height: auto;
	}
}

#loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    text-align: center;
}

.menu {
	position: relative;
    left: 50%;
    width: 206px;
    margin-left: -103px;

	li {
		background: url("../img/button.png") no-repeat scroll 0 0 transparent;
	    color: #fff;
	    cursor: pointer;
	    height: 68px;
	    margin-bottom: 20px;
	    text-shadow: 3px 3px 0 #000;
	    width: 206px;
    	padding-top: 35px;
	}
}

#main-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    overflow: hidden;

    li {
	    display: block;
	}

    &.visible {
    	//@include transition(opacity 1s linear);
    	bottom: 0;
    	opacity: 1;
    }
}

#level-selection {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    opacity: 0;
    overflow: hidden;
    height: 0;

    li {
	    display: block;
	    float: left;
	    height: 50px;
	    width: 50px;
	    background-color: #999;
	    margin: 10px;
	    cursor: pointer;

	    div {
	    	width: 20px;
    		height: 20px;
	    }
	}

    &.visible {
    	//@include transition(opacity 1s linear);
    	bottom: 0;
    	opacity: 1;
    	height: auto;
    }
}

.bronze {
    background-color: chocolate;
}

.silver {
    background-color: #ccc;
}

.gold {
    background-color: #ff0;
}

#start-game {
	background-color: #f00;
	position: absolute;
	display: none;

	&.visible {
    	display: block;
    }
}

#timer {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    display: none;

    &.visible {
    	display: block;
    }
}