/*////////////////////////////////////////////
// Mixins                                   //
////////////////////////////////////////////*/
@import 'mixins';


/*////////////////////////////////////////////
// General                                  //
////////////////////////////////////////////*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    cursor: default;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

main {
	position: absolute;
	overflow: hidden;
    //-webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

canvas {
    display: block;
    position: absolute;
    height: 100%;
    width: auto;
    min-height: 512px;
    min-width: 512px;
    max-height: 1024px;
    max-width: 1024px;
}

#loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;

    &.done {
    	display: none;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
	canvas {
		width: 100%;
    	height: auto;
	}
}