/* Effect: 3D flip horizontal */
.window {
    @include backface-visibility(hidden);
    @include perspective(1300px);
    position: absolute;
    visibility: hidden;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 20px;
    min-width: 300px;
    min-height: 290px;

    &.show {
        visibility: visible;
        z-index: 10;

        .content {
            @include transform(rotateY(0deg));
            opacity: 1;
        }
    }

    &.hide {
        overflow: hidden;
    }

    .content {
        @include transform(rotateY(-70deg));
        @include transform-style(preserve-3d);
        @include transition(all 0.3s);
        background: url("../img/window-bg.jpg") repeat scroll 0 0 #171512;
        background-size: 97px 97px;
        bottom: 15px;
        left: 10px;
        opacity: 0;
        position: absolute;
        right: 10px;
        text-align: left;
        top: 10px;
    }

    .inner-content {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
        bottom: 15px;
        left: 25px;
        padding: 20px 0px;
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .frame {
        position: absolute;
        pointer-events: none;

        &.window-top-left {
            background: url("../img/window.png") no-repeat scroll 0 -50px transparent;
            background-size: 328px 104px;
            height: 36px;
            left: -2px;
            top: -2px;
            width: 37px;
        }

        &.window-top-center {
            background: url("../img/window.png") repeat-x scroll 0 -1px transparent;
            background-size: 328px 104px;
            height: 26px;
            left: 35px;
            right: 27px;
            top: -1px;
        }

        &.window-top-right {
            background: url("../img/window.png") no-repeat scroll -40px -50px transparent;
            background-size: 328px 104px;
            height: 28px;
            right: -2px;
            top: -2px;
            width: 29px;
        }

        &.window-left {
            background: url("../img/window-vert.png") repeat-y scroll -1px 0 transparent;
            background-size: 52px 265px;
            bottom: 53px;
            left: -1px;
            top: 34px;
            width: 22px;
        }

        &.window-right {
            background: url("../img/window-vert.png") repeat-y scroll -21px 0 transparent;
            background-size: 52px 265px;
            bottom: 30px;
            right: -1px;
            top: 26px;
            width: 30px;
        }

        &.window-bottom-left {
            background: url("../img/window.png") no-repeat scroll -75px -51px transparent;
            background-size: 328px 104px;
            bottom: -2px;
            height: 53px;
            left: -2px;
            width: 28px;
        }

        &.window-bottom-center {
            background: url("../img/window.png") repeat-x scroll 0 -26px transparent;
            background-size: 328px 104px;
            bottom: -1px;
            height: 21px;
            left: 26px;
            right: 29px;
        }

        &.window-bottom-right {
            background: url("../img/window.png") no-repeat scroll -106px -50px transparent;
            background-size: 328px 104px;
            bottom: -2px;
            height: 32px;
            right: -2px;
            width: 31px;
        }
    }

    h1 {
        background: url("../img/ui.png") no-repeat scroll 0 0 transparent;
        background-size: $size-ui;
        color: #ffdfa8;
        font-size: 16px;
        height: 54px;
        line-height: 40px;
        position: absolute;
        text-shadow: 1px 0 1px rgba(0, 0, 0, 0.35), 0 0 4px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        width: 302px;
        top: -21px;
        margin-left: -151px;
        left: 50%;
        text-align: center;
    }

    .close {
        background: url("../img/ui.png") no-repeat scroll 0 -60px transparent;
        background-size: $size-ui;
        height: 18px;
        left: 50%;
        margin-left: 88px;
        position: absolute;
        top: -8px;
        width: 18px;
        cursor: pointer;

        &:active {
            background-position: -20px -60px;
        }
    }

    .buttons {
        position: absolute;
        bottom: -13px;
        left: 50%;
        @include transform(translateX(-50%));
    }

    .button {
        cursor: pointer;
        height: 40px;
        width: 40px;
        display: inline-block;
    }

    .bottom-info {
        bottom: 12px;
        height: 81px;
        left: 12px;
        position: absolute;
        right: 12px;

        .bottom-left {
            background: transparent url("../img/ui.png") no-repeat scroll 0 -510px;
            background-size: $size-ui;
            position: absolute;
            height: 81px;
            width: 24px;
        }

        .bottom-center {
            background: transparent url("../img/ui.png") repeat-x scroll 0 -595px;
            background-size: $size-ui;
            position: absolute;
            height: 81px;
            left: 24px;
            right: 24px;
        }

        .bottom-right {
            background: transparent url("../img/ui.png") no-repeat scroll -30px -510px;
            background-size: $size-ui;
            position: absolute;
            height: 81px;
            width: 24px;
            right: 0;
        }
    }

    .stars-big {
        background: transparent url("../img/ui.png") no-repeat scroll 0 -325px;
        background-size: $size-ui;
        height: 103px;
        left: -9px;
        margin-bottom: 40px;
        margin-top: 19px;
        position: relative;
    }

    .star {
        background: transparent url("../img/ui.png") no-repeat scroll 0 -510px;
        background-size: $size-ui;
        position: absolute;
        opacity: 0;
        @include transform(scale(1.5));

        &.show {
            @include transition(all 0.3s);
            @include transform(scale(1));
            opacity: 1;
        }
    }

    #star-big0 {
        background-position: 0 -430px;
        height: 58px;
        left: 38px;
        top: 18px;
        width: 58px;
    }

    #star-big1 {
        background-position: -132px -430px;
        height: 70px;
        left: 87px;
        top: 9px;
        width: 74px;
    }

    #star-big2 {
        background-position: -65px -430px;
        height: 58px;
        left: 152px;
        top: 18px;
        width: 58px;
    }

    .step {
        position: absolute;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        font-size: 15px;
        font-weight: bold;
        color: #8f7d69;
        text-align: center;
        top: 80px;
        width: 40px;
    }

    #steps0 {
        left: 47px;
    }

    #steps1 {
        left: 104px;
    }

    #steps2 {
        left: 161px;
    }

    .steps-text {
        font-weight: bold;
        font-size: 15px;
        text-shadow: 0 0 3px rgba(0,0,0,0.25);
    }

    .steps {
        color: #8f7d69;
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        left: 81px;
        position: absolute;
        text-align: center;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        top: 177px;
        width: 66px;
    }
}

.back-btn {
    background: url("../img/ui.png") no-repeat scroll -130px -199px transparent;
    background-size: $size-ui;
    
    &:active {
        background-position: -175px -199px;
    }
}

.replay-btn {
    background: url("../img/ui.png") no-repeat scroll -130px -159px transparent;
    background-size: $size-ui;
    
    &:active {
        background-position: -175px -159px;
    }
}

.menu-btn {
    background: url("../img/ui.png") no-repeat scroll -235px -354px transparent;
    background-size: $size-ui;
    
    &:active {
        background-position: -280px -354px;
    }
}

.next-btn {
    background: url("../img/ui.png") no-repeat scroll -235px -314px transparent;
    background-size: $size-ui;
    
    &:active {
        background-position: -280px -314px;
    }
}

@media (min-width: 520px) {
    .main .window {
        margin-left: -260px;
        left: 50%;
        width: 520px;
    }
}

@media (min-height: 500px) {
    .main .window {
        top: 50%;
        height: 480px;
        margin-top: -230px;
    }
}

/* Complete window */
#complete {
    height: 290px;
}

@media (min-width: 300px) {
    #complete {
        margin-left: -150px;
        width: 300px;
        left: 50%;
    }
}